<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Dream Schufa - Login</title>
</head>
<body>
<nav class="navbar sticky-top navbar-dark bg-secondary" style="padding-left: 50px;">
    <a class="navbar-brand" href="#">
        <img th:src="@{image/logo.png}" width="30px" height="30px">
        DreamSchufa
    </a>
    <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
        <ul class="navbar-nav" >
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HowTo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" method="get" action="/login">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
    <div sec:authorize="isAuthenticated()">
        <form class="form-inline my-2 my-lg-0" method="get" action="/logout">
            <button
                    class="btn btn-outline my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>

<div style="width: 50%; margin: auto; padding-top: 20px">
    <div class="card" style="width: 60%;margin: auto; margin-bottom: 20px ">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form method="post" action="/customer/login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Ihr Firmenname</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Passwort</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    <small id="pwHelp" class="form-text text-muted">Passwort</small>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>